@import url('https://fonts.googleapis.com/css?family=Lacquer|Carter+One|Modak&display=swap');

@font-face {
    font-family: 'old typewriter';
    src: url('assets/fonts/old_typewriter/Oldtypewriter.ttf');
}

@font-face {
    font-family: 'myriad pro condensed';
    src: url('assets/fonts/myriad_pro/MyriadPro-Cond.otf');
}

@font-face {
    font-family: 'myriad pro bold condensed';
    src: url('assets/fonts/myriad_pro/MyriadPro-BoldCond.otf');
}


body {
    padding-top: 5%;
    color: white !important;
    background-image: url('assets/pictures/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'old typewriter';
    font-size: 3rem !important;
    margin-top: 4% !important;
    margin-bottom: 2% !important;
}

h2 {
    font-family: 'old typewriter';
    font-size: 1.5rem !important;
}

.homepage h2 .bold {
    color: gold;
    font-family: 'myriad pro bold condensed';
}

.homepage h2 {
    font-family: 'myriad pro condensed';
    font-size: 1.3rem !important;
    color: white;
}

.wrong h1 {
    font-family: 'myriad pro bold condensed';
    font-size: 2.5rem !important;
    margin: 2% !important;
    color: black;
    transform: none;
}

.wrong h2 {
    font-family: 'myriad pro condensed';
    color: black;
    transform: none;
}

h1, h2 {
    text-align: center;
    transform: rotateZ(-1deg);
}

.backgroundContainer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.filmBackground {
    background-image: url('assets/pictures/film_background.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding-top: 0.1%; 
}

.footerParagraph {
    font-family: 'myriad pro condensed';
    font-size: 1.3rem !important;
}

.footerParagraph strong {
    font-family: 'myriad pro bold condensed';
}

.bold {
    font-family: 'myriad pro bold condensed';
}

.victoryPage {
    background-color: black;
    color: white;
}

.victoryPage .filmBackground {
    padding-top: 3%;
}

.victoryPage h2 {
    font-family: 'myriad pro condensed';
    transform: none;
}

.paragraphContainer {
    margin: auto;
    margin-top: 10%;
}

.paragraph {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'myriad pro condensed';
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 3%;
}

.buttonLink {
    transition: all 0.3s;
    font-size: 1.1rem !important;
    font-family: 'myriad pro bold condensed';
    background-color: gold !important;
    border-color: gold !important;
    color: black !important;
}

.buttonLink:hover {
    background-color: orange !important;
    border-color: orange !important;
    color: white !important;
    transition: all 0.3s;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.formContainer input {
    padding: 1%;
    margin-left: 0.5%;
}

.backContainer {
    margin-top: 50%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 2.5rem !important;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .successDraw {
      padding-top: 100%;
  }

  .lost {
      font-family: 'Lacquer', sans-serif;
      border: 3px solid black;
      background-color: rgb(170, 80, 80);
  }

  .lost h1 {
      font-size: 3rem;
  }

  .imageGallery {
      
      overflow: auto;
  }

  .galleryPic {
      transition : all 0.5s;
  }

  .galleryPic:hover {
      background-color: rgba(0, 0, 0, 0.3);
      transition: all 0.5s;
      cursor: pointer;
  }

  .blockWindow {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      color: rgb(238, 0, 0);
  }

  .blockWindow p {
    text-align: center;
    font-family: 'myriad pro bold condensed';
    font-size: 2rem;
    font-weight: bold;
  }

  #countdown {
      position: relative;
      margin: auto;
      padding: 0;
      width: 70px;
      height: 70px;
      font-size: 1.2rem;
      font-weight: bold;
  }

  #countdown:empty {
      display: none;
  }

  .winTitle {
      font-family: 'Modak';
      font-size: 3.5rem;
      color: yellow;
  }

  .winTitle + h2 {
      color: yellow;
  }

  #metroMap {
      position: relative;
      cursor: crosshair;
  }

  #zoom {
      width: 300px;
      height: 300px;
      display: none;
      background-color: white;
      position: absolute;
      border: 1px solid black;
      border-radius: 50%;
      overflow:hidden;
  }

  #zoomedPicture {
      position: absolute;
      top: 0;
      left: 0;
      width: 600%;
      height: 600%;
  }

  .countdownPath {
      position: absolute;
      transform: rotate(90deg);
  }

  .countdownPath path {
      stroke-dasharray: 157.11;
      stroke-dashoffset: 0;
      /*animation: dash 30s linear forwards;*/
  }

  footer p {
      margin: auto;
      text-align: center;
  }

  .credits h3 {
    font-size: 1rem;
  }

  .credits p {
      text-align: left;
  }

  @keyframes dash {
      to {

        stroke-dashoffset: 157.11;

      }
  }

@media(min-width: 992px) {

    body {
        padding-top: 2%;
    }

    h1 {
        font-size: 8rem !important;
        padding-top: 1%;
    }

    h2 {
        font-size: 2.2rem !important;
    }

    .homepage h2 {
        font-size: 2rem !important;
    }

    .paragraphContainer {
        margin-top: 5%;
    }

    .paragraph {
        font-size: 1.7rem !important;
    }
    .buttonLink {
        font-size: 1.4rem !important;
    }

    .unionBody {
        padding-bottom: 18vh;
    }

    .filmBackground {
        height: 50vh;
    }
}